---
title: The most important neuroscience discovery
date: 2022-3-3
description: Simple and Complex cell
draft: true
layout: full-width
---

<script>
import ResearchTimeline from "$src/components/ResearchTimeline.svelte"
import SimuliRecordingExample from "$src/components/SimuliRecordingExample.svelte"
</script>

<SimuliRecordingExample />
<ResearchTimeline />
