@import "lib";

.cv {

  &__list {
    margin: 0 -1.6em;

    &__item {
      padding: 0.9em 1.6em;
      margin: 1em 0 2em;
      transition: all 0.3s ease-out;

      &__items {
        margin: 0 -1.6em;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.6em 1.6em;
    transition: all 0.3s ease-out;

    &__title {
      font-size: 1.3em;
      line-height: 1.3em;
      font-weight: 700;
      margin: 0.3em 0;
    }

    &__main {
      margin-right: 2em;
    }
  }
}