
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap;
    padding: 0.3em 0;
    margin: 0 -0.6em;

    &__link {
        padding: 0.3em 0.6em;
    }
    &__links {
        display: flex;
        align-items: center;
    }
}