@import "lib";

@import url('https://rsms.me/inter/inter.css');
body {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: -0.011em;
}

h1 {
    margin: 3rem 0 0.6rem;
    font-size: 3em;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: -0.022em;
}
h2 {
    margin: 3rem 0 0.6rem;
    font-size: 2em;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: -0.022em;
}
h3 {
    margin: 3rem 0 0.6rem;
    font-size: 2em;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: -0.02em;
}
h4 {
    margin: 3rem 0 0.6rem;
    font-size: 1.6em;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: -0.02em;
}
h5 {
    margin: 3rem 0 0.6rem;
    font-size: 1.3em;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: -0.018em;
}
h6 {
    margin: 3rem 0 0.6rem;
    font-size: 1em;
    font-weight: 900;
    line-height: 1.3em;
}

ul,
ol {
    margin: 1.6em 0;
}

li {
    margin: 0.6em 0;
}

a {
    color: $a1;

    &:visited {
        color: $a2;
    }
}

blockquote {
    font-style: italic;
    border-left: 3px solid $a1;
    padding: 0.6em 1.6em;
    margin-left: 0;
}

footer {
    margin-top: 6em;
}

.layout {
    &__contents {
        max-width: 56em;
        margin: 0 auto;
        padding: 2em;
    }
}