@import "lib";

.Publication {
  padding: 0.9em 1.6em;
  margin: 1em 0 2em;
  transition: all 0.3s ease-out;

  &__header {
    display: block;
    font-size: 1.3em;
    line-height: 1.3em;
    color: $tc;
    padding: 0.3em 0;
    font-weight: 700;
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  &__metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $grey1;
  }
  &__journal {
    font-weight: 600;
  }
  &__year {
    display: inline-block;
    margin-left: 0.3em;
    color: $grey1;
  }

  &__link-out {
    display: inline-block;
    margin-left: 0.2em;
    color: $grey1;

    svg {
      width: 1em;
      margin-bottom: -0.18em;
    }
  }

  &__highlights {
    margin-top: 1em;
  }
  &__highlight {
    margin: 0.3em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $grey1;

    a {
      color: $grey1;
    }
  }
}