@import url("https://rsms.me/inter/inter.css");
body {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: -0.011em;

  --a1: #3498db;
  --a2: #1abc9c;
  --a3: #f39c12;
  --tc: #2f3542;
  --grey1: #8c96a8;
}

h1 {
  margin: 3rem 0 1.5rem;
  font-size: 3em;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: -0.022em;
}
h2 {
  margin: 3rem 0 1.5rem;
  font-size: 2em;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: -0.022em;
}
h3 {
  margin: 3rem 0 0.6rem;
  font-size: 2em;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: -0.02em;
}
h4 {
  margin: 3rem 0 0.6rem;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: -0.02em;
}
h5 {
  margin: 3rem 0 0.6rem;
  font-size: 1.3em;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: -0.018em;
}
h6 {
  margin: 3rem 0 0.6rem;
  font-size: 1em;
  font-weight: 900;
  line-height: 1.3em;
}

p {
  margin-bottom: 1.2em;
}

ul,
ol {
  margin: 1.6em 0 1.6em 1em;
}

li {
  margin: 0.6em 0;
}

a {
  color: var(--a1);
}

a:visited {
  color: var(--a2);
}

blockquote {
  font-style: italic;
  border-left: 3px solid var(--a1);
  padding: 0.6em 1.6em;
  margin-left: 0;
}

footer {
  margin-top: 6em;
}

hr {
  appearance: none;
  padding: 2em 0;
  outline: none;
  border: none;
}


.button:not(.plain),
button:not(.plain) {
  appearance: none;
  padding: 0.7em 1.3em;
  font-size: 1em;
  background: var(--a1);
  color: white;
  border: 1px solid var(--a1);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
  cursor: pointer;
}

.plain {
  appearance: none;
  background: none;
  text-align: left;
  border: none;
  box-shadow: none;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 0.4em 1em;
}